.list1 {
  color: red;
}
.App {
  text-align: center;
  width: 99.3vw;
  height: 100vh;
  background-color: #282c34;
}

.App-header {
  text-align: center;
  font-size: 26px;
  color: white;
  background-color: #282c34;
}

.App-link {
  color: #61dafb;
}
