ul {
  height: 64vh;
  font-size: 22px;
  list-style-type: none;
  overflow: auto;
  color: white;
  border-top: 2px solid black;
  margin: auto;
}
li {
  border: 1px solid black;
  margin-left: -40px;
}
#noresult {
  display: none;
  color: aliceblue;
  margin-top: 200px;
  font-size: 25px;
}
.modal-title {
  text-align: center !important;
  color: black;
}
.albumimage {
  margin: auto;
}

@media only screen and (max-width: 650px) {
  ul {
    width: 90%;
  }
}
@media only screen and (min-width: 650px) {
  ul {
    width: 70%;
  }
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

li:hover {
  cursor: pointer;
  background: rgba(0, 0, 0, 0.4);
}
.srno {
  width: fit-content;
  width: 50px;
  float: left;
  color: wheat;
  font-weight: 100;
}
.content {
  display: inline-block;
  width: 80%;
  margin-left: -40px;
  padding-left: 21px;
}
.title {
  font-size: 26px;
  color: whitesmoke;
  margin-bottom: 25px;
  margin-top: 20px;
}
.favbutton {
  margin-left: 20px;
  background: url("https://api.iconify.design/clarity:heart-line.svg?color=white")
    no-repeat center center / contain;
  border: none;
  height: 40px;
  width: 40px;
  outline: none !important;
}
.favbutton:hover {
  background: url("https://api.iconify.design/clarity:heart-line.svg?color=red")
    no-repeat center center / contain;
}
.favlist {
  color: black;
  border: none;
  height: auto;
  width: 90%;
}
.favcontents {
  border: none;
  width: 90%;
}
.fav {
  background-color: palevioletred !important;
  color: white !important;
}
